- name: s3-upload
  hosts: all
  gather_facts: no
  tasks:
    - name: save all the facts
      set_fact:
        job_id: "{{ lookup('env', 'JOB_ID') }}"
        component_id: "{{ lookup('env', 'COMPONENT_ID') }}"
        aib_working_dir: "{{ lookup('env', 'AIB_WORKING_DIR') }}"
        bucket_name: "{{ lookup('env', 'BUCKET_NAME') }}"

    - name: read abi-ci config
      include_vars:
        file: "/workspace/source/.aib-ci.yml"

    - name: create aib facts
      set_fact:
        aib: "{{ default }}"

    - name: create more facts
      set_fact:
        image_name: "{{ component_id }}_{{ aib.name }}.{{ aib.spec.export_format }}"
        image_location: "{{ aib_working_dir }}/builds"

    - name: upload the image
      amazon.aws.s3_object:
        bucket: "{{ bucket_name }}"
        object: "{{ component_id }}/{{ job_id }}_{{ image_name }}"
        src: "{{ image_location }}/{{ job_id }}_{{ image_name }}"
        mode: put
        overwrite: always
